.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;

    .modal_content {
        width: fit-content;
        background-color: #282C34;
        border-radius: 20px;
        transition: .3s ease;
        padding: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;

        @media screen and (max-width: 747px) {
            flex-direction: column;
            padding: 40px 30px;
            gap: 20px;
        }

        @media screen and (orientation: landscape) and (max-width: 900px) {
            padding: 10px;
        }

        img {
            display: block;
            max-width: 700px;
            box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.5);
            border-radius: 40px;
            transition: .3s ease;

            @media screen and (max-width: 1366px) {
                max-width: 600px;
            }

            @media screen and (max-width: 1024px) {
                max-width: 400px;
            }

            @media screen and (max-width: 768px) {
                max-width: 300px;
            }
        }
    }
}

.info {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px 0 0;

    div:first-child {
        justify-items: flex-end;
    }

    p {
        color: white;
        font-size: 1.5em;
        font-style: italic;
        line-height: 1.2;

        &::first-letter {
            text-transform: uppercase;

        }

        @media screen and (max-width: 768px) {
            font-size: 1.2em;
        }

        @media screen and (max-width: 400px) {
            font-size: 1.1em;
        }

        span {
            font-weight: bold;
            font-style: normal;
        }
    }
}